In [3]:
import pandas as pd
file_path =  r"C:\code\DI_Bootcamp\week7\day2\iris.data.txt"
iris_data = pd.read_csv(file_path, header=None)

print(iris_data.head(5))

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [4]:
import pandas as pd
file_path =  r"C:\code\DI_Bootcamp\week7\day2\iris.data.txt"
iris_data = pd.read_csv(file_path, header=None)
iris_data.columns = ["sepal_length", "sepal_width", "petal_length", "petal_width", "class"]
print(iris_data.head(5))

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
json_data = pd.read_json('posts.json')
print(json_data.head())

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...

In [7]:
json_data = pd.read_json('https://jsonplaceholder.typicode.com/posts')
print(json_data.head())

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...

In [8]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
import pandas as pd
excel_data = pd.read_excel(r"C:\code\DI_Bootcamp\week7\day2\file_example_XLS_10.xls", index_col = 0)
print(excel_data.head(10))

  First Name  Last Name  Gender        Country  Age        Date    Id
0
1      Dulce      Abril  Female  United States   32  15/10/2017  1562
2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
3     Philip       Gent    Male         France   36  21/05/2015  2587
4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

In [23]:
import pandas as pd 
grades_data = pd.read_csv('grades.csv')
print(grades_data.head(3))

  Last name      "First name"               "SSN"         "Test1"   "Test2"  \
0   Alfalfa        "Aloysius"       "123-45-6789"            40.0      90.0
1    Alfred      "University"       "123-12-1234"            41.0      97.0
2     Gerty          "Gramma"       "567-89-0123"            41.0      80.0

    "Test3"   "Test4"   "Final"  "Grade"
0     100.0      83.0      49.0     "D-"
1      96.0      97.0      48.0     "D+"
2      60.0      40.0      44.0      "C"

In [4]:
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 22],
    "Score": [88, 92, 79]
})

In [5]:
df.to_csv('sample_export.csv', index = False)
print('Csv file sample_export.csv created')

Csv file sample_export.csv created

In [6]:
df.to_json('sample_export.json')
print('json file sample_export.json created')

json file sample_export.json created

In [10]:
df.to_excel('sample_export.xlsx')
print('excel file sample_export.xlsx created')

excel file sample_export.xlsx created

In [8]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
df.to_json('sample_export_split.json', orient='split')
df.to_json('sample_export_records.json', orient='records')
df.to_json('sample_export_index.json', orient='index')
df.to_json('sample_export_columns.json', orient='columns')
df.to_json('sample_export_values.json', orient='values')

In [14]:
import pandas as pd
# Sample DataFrames
sales = pd.DataFrame({
    "Product": ["A", "B", "C"],
    "Revenue": [1000, 1500, 1200]
})
customers = pd.DataFrame({
    "Customer": ["Alice", "Bob", "Charlie"],
    "Region": ["North", "South", "West"]
})
# Export both to different sheets
with pd.ExcelWriter("report.xlsx") as writer:
    sales.to_excel(writer, sheet_name="Sales", index=False)
    customers.to_excel(writer, sheet_name="Customers", index=False)

In [15]:
import numpy as np
from faker import Faker
import pandas as pd
import random

fake = Faker()
np.random.seed(42)
Faker.seed(42)
random.seed(42)
num_rows = 200
product_list = ['Wireless Mouse', 'Laptop Bag', 'USB-C Hub', 'Bluetooth Speaker', 'Monitor Stand',
                'Desk Lamp', 'Keyboard', 'Webcam', 'Noise Cancelling Headphones', 'Smartphone Case']
# Generating synthetic sales data
product_names = [random.choice(product_list) for _ in range(num_rows)]
sale_amounts = np.round(np.random.normal(loc=75, scale=25, size=num_rows), 2)
sale_dates = [fake.date_between(start_date='-1y', end_date='today') for _ in range(num_rows)]
customer_ages = np.random.randint(18, 75, size=num_rows)

df_sales = pd.DataFrame({
    'Product Name': product_names,
    'Sale Amount': sale_amounts,
    'Date of Sale': sale_dates,
    'Customer Age': customer_ages})

# Display the first few rows of the DataFrame
print(df_sales.head())

        Product Name  Sale Amount Date of Sale  Customer Age
0         Laptop Bag        87.42   2025-01-10            19
1     Wireless Mouse        71.54   2024-06-19            43
2      Monitor Stand        91.19   2024-05-16            34
3  Bluetooth Speaker       113.08   2025-02-18            57
4  Bluetooth Speaker        69.15   2024-08-21            50